.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 150px;
    position: absolute;
    top: 350px;
    left: 70px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    left: 250px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 272px;
    top: 120px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 470px;
    top: 280px;
  }