h1 {
        
    font-size: 65px;
    color: orange;
    font-family:sans-serif
  }
  
  .estilo {
    background-color:antiquewhite;
    font-style: italic;
    text-align: center;
    text-decoration: underline
  }

  p {
    font-weight: 600; 
    font-size: 3em; 
  }

  body {
    font-size: 16px;
  }

  #amarelo {
    background-color: yellow;
  }

  #vermelho {
    background-color: red;
  }

  #marrom {
    background-color: burlywood
  }