* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 153, 153);
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10vh;
  height: 80vh;
}

.card {
  background: rgb(153, 153, 153);
  border-radius: 10px;
  gap: 12px;
  padding: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.footer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 153, 153);
  color: rgba(8, 70, 0, 0.626);
  position: absolute;
  width: 100%;
  bottom: 0;
}